$yellow : #fffa19;
$red : #C8082B;
$green : green;
@mixin margenes ($top){
	margin-top:$top;
}
.jumbotron{
	background-color: $yellow;
	color:black;
	@include margenes(50px);
}
 footer{
	padding: 10px 10px 0 10px;
	background-color: $red;
	margin-bottom: 0px;
	@include margenes(10px);
}
.card-hotel{
	flex:1 200px;
	@include margenes(10px);
}

.btn-reserve{
		width: 100%;
		border-radius: 0px;
}

.tab-content{
	padding: 10px;
}

